<div>
    <h1>O škole</h1>
    <p> něco o škole a chcipněte</p>
</div>

<div>
    <h1>Příjmací řízení</h1>
    <p class="subtitle">Minimální hranice 50 bodů</p>
    <ul>
        <li><span class="subtitle">[50 bodů]</span> Vysvědčení 8-9 ročník ZŠ </li>
        <li><span class="subtitle">[30 bodů]</span> Zájem o <a href="/obory" class="normal">obor</a> dle výběru </li>
        <li><span class="subtitle">[20 bodů]</span> Účast v soutěžích </li>
    </ul>
    <a href="/prijmacky">Přečíst si více</a>
</div>
<div>
    <h1>Školné</h1>
    <p>Školné lze platit</p>
    <ul>
        <li>měsičně [2 000 kč]</li>
        <li>půlročně [12 000 kč]</li>
        <li>ročně [20 000]</li>
    </ul>
    <a class="subtitle">Lze získat<a class="normal" href="/stipendium">prospěchové stipendium</a>
</div>

<div>
    <h1>Přihlašky</h1>
    <ul>
        <li><a href="/prihlaska/denni.xlxs">Denní studium</a></li>
        <li><a href="/prihlaska/dalkove.xlxs">Dálkové studium</a></li>
        <li><a href="/prihlaska/nastavba.xlxs">Nástavba</a></li>
        <li><a href="/prihlaska/vzor.pdf">Vzor pro střední školu</a></li>
        <li><a href="/prihlaska/lic.odt">Studium na Lic.</a></li>
        <li><a href="/prihlaska/mgr.odt">Studium na Mgr.</a></li>
    </ul>
</div>


