
<!DOCTYPE html>
<html>
    <head>
        <title>Šlechtická Soukroma Škola</title>
        <link rel="stylesheet" href="/main.css">
        <link rel="shortcut icon" href="icon/logo.png">
    </head>
    <body>
        <%- include("parts/header") %>
        <main>
            <section class="time"></section>
            <section class="new">
                <article>
                    <div><h2>27. listopadu</h2><h3>před dvěma dny</h3></div>
                    <p>Konzultace pro dálkového sdudia nekoná.</p>
                </article>
                <article>
                    <div><h2>27. listopadu</h2><h3>před dvěma dny</h3></div>
                    <p>Konzultace pro dálkového sdudia nekoná.</p>
                </article>
                <article>
                    <div><h2>27. listopadu</h2><h3>před dvěma dny</h3></div>
                    <p>Konzultace pro dálkového sdudia nekoná.</p>
                </article>
                <article>
                    <div><h2>27. listopadu</h2><h3>před dvěma dny</h3></div>
                    <p>Konzultace pro dálkového sdudia nekoná.</p>
                </article>
            </section>
        </main>
        <%- include("parts/footer") %>
    </body>
</html>
